@import "../../App.scss";

.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.code {
  font: var(--font-strong-xxxlarge);
  text-align-last: center;
  padding-top: var(--gap-xlarge);
}

.description {
  font: var(--font-regular-large);
  padding: var(--gap-xlarge);
}
