@import "../../../App.scss";

.emptySimpleView {
  padding: 64px 64px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xlarge);
}

.icon {
  display: flex;
  justify-content: center;
}

.content {
  font: var(--font-regular-large);
  display: flex;
  justify-content: center;
  text-align: justify;
    overflow-x: wrap;
}
