@import "../../../App.scss";

.navigationBar {
  background-color: var(--secondary-color);
  width: 200px;
  display: flex;
  justify-content: space-between;
  @media #{$landscape} {
    height: 100vh;
    flex-direction: column;
    @media #{$tablet} {
      width: 116px;
    }
    @media #{$mobile} {
      width: 116px;
    }
  }
  @media #{$portrait} {
    width: 100vw;
    flex-direction: row;
    height: var(--navigation-height);
  }
}

.mobileMenu {
  display: none;
  @media #{$tablet} {
    display: unset;
  }
  @media #{$mobile} {
    display: unset;
  }
  @media #{$portrait} {
    display: unset;
  }
}

.menu {
  display: none;
  @media #{$desktop} {
    display: unset;
  }
}

.nonNotes {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xlarge);
  @media #{$mobile} {
    gap: 0;
  }
  @media #{$tablet} {
    gap: 0;
  }
  @media #{$portrait} {
    flex-direction: row;
    gap: 0;
  }
}
