@import "../../App.scss";

.layout {
  display: flex;
  background-color: var(--background-color);
}

.itemSet {
  display: flex;
  padding: var(--gap-large);
}

@media #{$landscape} {
  .itemSet {
    height: 100vh;
    width: 100%;
    border-left: 1px solid var(--secondary-color);
  }
  .layout {
    flex-direction: row;
    width: 100vw;
  }
}

@media #{$portrait} {
  .itemSet {
    width: 100vw;
    height: 100%;
    border-top: 1px solid var(--secondary-color);
  }
  .layout {
    height: 100vh;
    flex-direction: column;
  }
}

/*
@include mediaSet(
  $selector: .itemSet,
  $key: flex-direction,
  $cell: column,
  $portrait: row,
  $tablet: row,
  $laptop: row
)
*/
