.layout {
  display: flex;
  background-color: var(--background-color);
}

.itemSet {
  height: 100vh;
  display: flex;
  width: 100%;
  padding: var(--gap-large);
  border-left: 1px solid var(--secondary-color);
}
