@import "./App.scss";

.shell {
  overflow: hidden;
  display: flex;
}

@media #{$landscape} {
  .shell {
    width: 100vw;
  }
}
@media #{$portrait} {
  .shell {
    height: 100vh;
    flex-direction: column;
  }
}
