:root {
  --navigation-height: 48px;
  --content-height: calc(100vh - var(--navigation-height));
  --animation-tempo: 0.2s;
}

@mixin themeSpacing {
  --gap-xsmall: 2px;
  --gap-small: 4px;
  --gap-medium: 8px;
  --gap-large: 12px;
  --gap-xlarge: 20px;
}

@mixin themeFonts {
  --font-strong-xxxlarge: 600 48px/60px Verdana, sans-serif;
  --font-strong-xxlarge: 600 36px/48px Verdana, sans-serif;
  --font-strong-xlarge: 600 24px/36px Verdana, sans-serif;
  --font-strong-large: 600 16px/18px Verdana, sans-serif;
  --font-strong-medium: 600 12px/14px Verdana, sans-serif;
  --font-strong-small: 600 10px/12px Verdana, sans-serif;
  --font-regular-xlarge: 450 24px/36px Verdana, sans-serif;
  --font-regular-large: 450 16px/18px Verdana, sans-serif;
  --font-regular-medium: 450 12px/16px Verdana, sans-serif;
  --font-regular-small: 450 10px/12px Verdana, sans-serif;
  --font-large: 450 16px/18px Verdana, sans-serif;
  --font-medium: 450 12px/16px Verdana, sans-serif;
  --font-small: 450 10px/12px Verdana, sans-serif;
  --font-weak-large: 300 16px/18px Verdana, sans-serif;
  --font-weak-medium: 300 12px/14px Verdana, sans-serif;
  --font-weak-small: 300 10px/12px Verdana, sans-serif;
  --font-flex-strong-xxxlarge: 600 22vmin/25vmin Verdana, sans-serif;
  --font-flex-strong-xlarge: 600 12vmin/14vmin Verdana, sans-serif;
  font:
    450 12px/16px Verdana,
    sans-serif;
}

.defaultTheme {
  @include themeSpacing;
  @include themeFonts;
  --primary-color: rgb(250, 82, 82);
  --secondary-color: #dfb30e;
  --background-color: #fafcf8;
  --detail-color: #1a0a04;
  --highlight-color: rgb(233, 236, 239);
  color: var(--detail-color);
}

.darkTheme {
  @include themeSpacing;
  @include themeFonts;
  --primary-color: rgb(250, 82, 82);
  --secondary-color: #7b4020;
  --background-color: #1a1e1c;
  --detail-color: #e6d8d3;
  --highlight-color: rgb(233, 236, 239);
  color: var(--detail-color);
}

body {
  background-color: var(--background-color);
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: calc(2 * var(--gap-small));
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--gap-small);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

$mobile: "only screen and (max-width : 767px)";
$tablet: "only screen and (min-width : 768px) and (max-width: 1024px)";
$desktop: "only screen and (min-width : 1025px)";

$portrait: "only screen and (orientation: portrait)";
$landscape: "only screen and (orientation: landscape)";

details {
  padding: var(--gap-small);
  font: var(--font-regular-medium);
  border: 1px solid var(--detail-color);
  border-radius: var(--gap-medium);
}

@keyframes popout {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

