@import "../../../App.scss";

.label {
  height: 100px;
  padding: 16px 16px 0 0;
  text-wrap: nowrap;
}

.ring {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--highlight-color);
  border-radius: 50px;
}
