@import "../../../App.scss";

.label {
  height: 100px;
  padding: 16px 16px 0 0;
  text-wrap: nowrap;
}

.hide {
  width: 16px;
  opacity: 0;
  z-index: -5;
}

.show {
  display: block;
}

.ring {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--highlight-color);
  border-radius: 50px;
}
