.note {
  border: 1px solid var(--background-color);
  margin: var(--gap-medium);
  padding: var(--gap-medium);
}

.heading {
  font: var(--font-strong-small);
}

.detail {
  font: var(--font-medium);
}
