@import "../../../../App.scss";

.clickable {
  cursor: pointer;
}

.note {
  border: 1px solid var(--background-color);
  margin: var(--gap-medium);
  padding: var(--gap-medium);
  @media #{$portrait} {
    margin: var(--gap-small);
    padding: var(--gap-small);
  }
}

.heading {
  font: var(--font-strong-small);
}

.detail {
  font: var(--font-medium);
}
