@import "../../../App.scss";

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.description {
  padding: 20%;
  font: var(--font-regular-xlarge);
}
