@import "../../App.scss";

.precursor {
  animation: popout var(--animation-tempo);
}

.listItem {
  display: flex;
  height: 100%;
  padding: var(--gap-xsmall);
  overflow: hidden;
  gap: var(--gap-medium);
}

.description {
  height: 100%;
  animation: fadein var(--animation-tempo);
}
