[part_to]
name = "Baked Beans (Easy)"
depends = ["Let Cool"]

['Remove Beans from Oven']
duration = "10 seconds"
description = "remove beans from oven"
depends = ["Bake Beans"]

['Let Cool']
duration = "5 minutes"
description = "remove pan from oven and let stand for 5 minutes"
depends = ["Remove Beans from Oven"]
engagement = 5

['Bake Beans']
description = "bake to desired consistency, about 2 hours and 30 minutes"
duration = "2 hours 30 minutes"
engagement = 2
depends = ["Heat Oven", "Assemble Beans"]

['Cook Bacon']
duration = "20 minutes"
description = "put bacon in oven and cook to slightly rare"
depends = ["Put Bacon in Oven"]
engagement = 3

['Put Bacon in Oven']
duration = "2 minutes"
description = "put 10 slices of bacon on pan"
tools = ["flatish baking pan"]
ingredients = ["bacon, 10 slices"]
depends = ["Heat Oven"]

['Gather Ingredients']
description = "gather and combine 54 oz canned pork and beans, 2 tsp dry mustard, 2/3 cup brown sugar, 1/4 cup cider vinegar, 4 tbs ketchup, & 1/4 cup molasses"
ingredients = ["pork and beans, 54 oz canned", "dry mustard, 2 tsp", "brown sugar, 2/3 cup", "cider vinegar, 1/4 cup", "ketchup, 4 tbs", "molasses, 1/4 cup"]
duration = "3 minutes"

['Dice Veggies']
duration = "2 minute"
description = "dice half of a green pepper and a whole yellow onion and combine aside"
ingredients = ["green pepper, 1/2", "yellow onion, 1"]

['Get Pan']
duration = "1 minute"
description = "get pan and put 2 tbs butter in it"
ingredients = ["butter, 2 tbs"]

['Heat Pan']
duration = "2 minutes 30 seconds"
description = "heat pan to medium heat"
engagement = 2
depends = ["Get Pan"]

['Saute Veggies']
duration = "5 minutes"
description = "saute diced green peppers and onion"
engagement = 10
# it'd be good to test here if dicing veggies happens before this if dicing takes longer than heating
depends = ["Heat Pan", "Dice Veggies"]

['Simmer Beans']
duration = "90 seconds"
description = "simmer bean mixture a minute or so"
engagement = 5
depends = ["Gather Ingredients", "Saute Veggies"]

['Assemble Beans']
duration = "30 seconds"
description = "pour bean mixture in 3 quart baking pan and layout cooked bacon on top"
depends = ["Grease Bean Pan", "Cook Bacon", "Simmer Beans"]

['Grease Bean Pan']
duration = "45 seconds"
description = "grease 3 quart baking pan"
tools = ["3 qt baking pan"]

['Heat Oven']
duration = "15 minutes"
description = "Heat Oven to 325 degrees"
engagement = 1




