.buttonBase1 {
  position: relative;
  top: 150px;
}
.buttonBase2 {
  color: green;
  font-size: 30px;
}

$my-color: purple;

.root {
    background-color: $my-color;
    border-radius: 18px;
    width: 36px;
}